<h1>Show Response</h1>

<ul>

  <li>
    <strong>Response:</strong>
    <%= @response.response %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.response_path(@conn, :edit, @response) %></span>
<span><%= link "Back", to: Routes.response_path(@conn, :index) %></span>
